/* ASOSIY SOZLAMALAR */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: #FFF5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    touch-action: none; 
    user-select: none;
    -webkit-user-select: none;
}

/* O'YIN MAYDONI (CANVAS) */
#gameCanvas {
    display: block;
    background-color: #FFF5F5;
    width: 100vw;
    height: 100vh;
}

/* O'YIN HUD (Jonlar, Ochko) */
.hud {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    pointer-events: none;
}

.hud-item {
    color: #D62828;
    font-size: 20px;
    font-weight: bold;
}
